// Define breakpoints for easy reuse
$breakpoints: (
	sm: 568px,
	md: 796px,
	lg: 1024px,
	xl: 1440px
);

// Breakpoint mixin
@mixin breakpoint($breakpoint-name) {
	@media (min-width: map-get($breakpoints, $breakpoint-name)) {
		@content;
	}
}