@use '../../mixins';

.module {
	background: #dcdcdc;
	color: #000;
	overflow: hidden;
}


.introText {
	transform: translate3d(0px, -3.4077%, 0px);

	@include mixins.breakpoint(sm) {
		display: flex;
		gap: 20px;
		align-items: flex-end;
		position: relative;
	}

	@include mixins.breakpoint(md) {
		gap: 50px;
	}
}



.hiText {
	//Hi, Ola
	display: block;
	opacity: 1;
	color: var(--color-orange);
	text-align: left;
	line-height: 1;
	font-size: clamp(40px, 10vw, 45px);

	@include mixins.breakpoint(sm) {
		position: absolute;
		top: -10px;
	}

	@include mixins.breakpoint(md) {
		top: 0px;
	}
}

.amText {
	//I am 
	display: block;
	text-align: left;
	font-size: clamp(40px, 11vw, 90px);
	line-height: 1; // Set line-height to tightly wrap the text
	vertical-align: baseline;

	@include mixins.breakpoint(sm) {
		margin-top: 30px;
	}

	@include mixins.breakpoint(md) {
		margin-top: 45px;
	}
}

.myName {
	//Marc
	font-size: clamp(45px, 12vw, 118px);
	line-height: 0.95;
}

.textToSplit {
	position: relative;
	top: -40px; // Adjust for smaller screens

	@include mixins.breakpoint(md) {
		top: -80px;
	}
}

.halfTextParent {
	transform: translate3d(0px, -3%, 0px);
}

.halfTextBottomParent {
	transform: translate3d(0px, 3%, 0px);
}

.halfText {
	transform: translateY(50%);
	font-weight: 500;
	text-align: center;
	font-size: clamp(40px, 12vw, 105px);

	&--bottom {
		transform: translateY(-50%);
	}
}

.revealText {
	position: absolute;
	left: -5px;
	top: 50%;
	opacity: 0;
	color: var(--color-orange);
	text-transform: uppercase;
	font-style: italic;
	font-size: clamp(20px, 11vw, 97px);

	@include mixins.breakpoint(md) {
		left: -11px;
	}
}

.imageProfileWrapper {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	height: auto;
	width: 300px; // Smaller image for mobile
	overflow: hidden;

	@include mixins.breakpoint(md) {
		width: 400px; // Larger image for larger screens
	}
}

.imageProfile {
	overflow: hidden;
	transform: translate3d(0px, 9.0123%, 0px);
}

@keyframes fadeInBottom {
	from {
		opacity: 1;
		bottom: -10px;
		transform: rotate(5deg);
	}

	to {
		opacity: 1;
		bottom: 0px;
		transform: rotate(0deg);

	}
}