.module {
	background: #0e151d;
	min-height: 100vh;
	position: relative;
	width: 100%;
}

.highlightText {
	background: var(--color-orange);
}



.introPhrases {
	font-size: 100px;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 0;
	width: 100%;
}

.introPhrase {
	position: relative;

	&:first-child {
		z-index: 1;
		pointer-events: none;
	}

	&:nth-child(2) {
		position: absolute;
		top: 11%;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
	}
}

.cardText {
	margin-bottom: 30px;
}

.icons {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
	justify-content: flex-end;
}

.pinSpace {
	height: 150vh;
}